<div class="kt-sideleft">
    <label class="kt-sidebar-label" style="color:red;    margin-left: 63px;
">Mục Quản Trị</label>
    <ul class="nav kt-sideleft-menu">
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="icon ion-ios-home-outline"></i>
          <span>Trang Chủ</span>
        </a>
      </li><!-- nav-item -->
      <li class="nav-item">
          <a href="#" class="nav-link with-sub">
            <i class="icon ion-ios-bookmarks-outline"></i>
            <span>Quản Trị Người Dùng</span>
          </a>
          <ul class="nav-sub">
              <li class="nav-item"><a href="./listadmin" class="nav-link">Danh Sách Quản Trị Viên</a></li>
            <li class="nav-item"><a href="./listuser" class="nav-link">Danh Sách Khách Hàng</a></li>
       
          </ul>
        </li>
      <li class="nav-item">
        <a href="" class="nav-link with-sub">
          <i class="icon ion-ios-list-outline"></i>
          <span>Quản Trị Loại Sản Phẩm</span>
        </a>
        <ul class="nav-sub">
          <li class="nav-item"><a href="./listcats" class="nav-link">Danh Sách Loại Sản Phẩm</a></li>
          <li class="nav-item"><a href="./addcats" class="nav-link">Thêm Loại Sản Phẩm Mới</a></li>
        </ul>
      </li><!-- nav-item --><li class="nav-item">
        <a href="#" class="nav-link with-sub">
          <i class="icon ion-ios-list-outline"></i>
          <span>Quản Trị Sản Phẩm</span>
        </a>
        <ul class="nav-sub">
          <li class="nav-item"><a href="./listproduct" class="nav-link">Danh Sách Sản Phẩm</a></li>
          <li class="nav-item"><a href="./addproduct" class="nav-link">Thêm Sản Phẩm Mới</a></li>
        </ul>
      </li><!-- nav-item -->
      <li class="nav-item">
          <a href="#" class="nav-link with-sub">
            <i class="icon ion-ios-bookmarks-outline"></i>
            <span>Quản Trị Hóa Đơn</span>
          </a>
          <ul class="nav-sub">
            <li class="nav-item"><a href="./listorder" class="nav-link">Danh Sách Hóa Đơn</a></li>
                 
          </ul>
        </li><!-- nav-item -->
        <li class="nav-item">
            <a href="#" class="nav-link with-sub">
              <i class="icon ion-ios-bookmarks-outline"></i>
              <span>Quản Trị Feedback</span>
            </a>
            <ul class="nav-sub">
                <li class="nav-item"><a href="./listfeedback" class="nav-link">Danh Sách Feedback</a></li>
                <li class="nav-item"><a href="./addfeedback" class="nav-link">Thêm Feedback</a></li>
              
            </ul>
            
          </li><!-- nav-item -->
      <li class="nav-item">
        <a href="#" class="nav-link with-sub">
          <i class="icon ion-ios-analytics-outline"></i>
          <span>Thống Kê</span>
        </a>
        <ul class="nav-sub">
          <li class="nav-item"><a href="./chart" class="nav-link">Doanh Thu Ngày</a></li>

          
        </ul>
      </li><!-- nav-item -->
 
     <!-- nav-item -->
    
     
    </ul>
  </div>