<!DOCTYPE html>
<html lang="en">
  <%-include("./Block/Head")-%>

  <body>

    <!-- ##### SIDEBAR LOGO ##### -->
    <div class="kt-sideleft-header">
      <div class="kt-logo"><a href="index.html"style="color:red;text-transform:bold"></a></div>
      <div id="ktDate" class="kt-date-today"></div>
      <div class="input-group kt-input-search">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn mg-0">
          <button class="btn"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- input-group -->
    </div><!-- kt-sideleft-header -->

    <!-- ##### SIDEBAR MENU ##### -->
    <%-include("Block/Left-Sidebar")-%><!-- kt-sideleft -->

    <!-- ##### HEAD PANEL ##### -->
    
      <%-include("Block/Header",{
        user:username,
        image:url
      })-%>
    
   <!-- kt-headpanel -->
    <div class="kt-breadcrumb">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" href="index.html" style="margin-left:500px;font-size:30px;color:red;text-transform:bold" >TRANG QUẢN TRỊ</a>

      </nav>
    </div><!-- kt-breadcrumb -->

    <!-- ##### MAIN PANEL ##### -->
    <div class="kt-mainpanel">
     <!-- kt-pagetitle -->

     <!-- kt-pagebody -->
      <%-include("Pages/"+pages+".ejs")-%>
     <!-- kt-footer -->
    </div><!-- kt-mainpanel -->

    <script src="Admin/lib/jquery/jquery.js"></script>
    <script src="Admin/lib/popper.js/popper.js"></script>
    <script src="Admin/lib/bootstrap/bootstrap.js"></script>
    <script src="Admin/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="Admin/lib/moment/moment.js"></script>
    <script src="Admin/lib/d3/d3.js"></script>
    <script src="Admin/lib/rickshaw/rickshaw.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8"></script>
    <script src="Admin/lib/gmaps/gmaps.js"></script>
    <script src="Admin/lib/chart.js/Chart.js"></script>

    <script src="Admin/js/katniss.js"></script>
    <script src="Admin/js/ResizeSensor.js"></script>
    <script src="Admin/js/dashboard.js"></script>

  </body>
</html>
