<div class="kt-pagebody">

    <!-- row -->
  
      <div class="row row-sm mg-t-20">
        <div class="col-xl-12">
          <div class="card bd-blue-300" style="background-color:#BFE0E7;">
            <div class="card-header bg-gray-100 pd-y-15 pd-x-20" style="background-color:#BFE0E7;">
             <center><h3 class="register-heading" style="color:
              #606445;font-family: 'PT Serif', serif;font-weight: 900;margin-left:-3px ;">THÊM MỚI GROUP USER</h3></center> 
            </div><!-- card-header -->
            <div class="col-md-10 register-right">
                      
              <div class="tab-content" id="myTabContent" style="margin-right: -5px;">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                     <form action="./addgroupuser" method="post">
                          <div class="row register-form" style="margin-left: 197px;
                          margin-top: 36px;">
                        
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Enter Group Name" name="name" />
                                  </div>
                               
                                 
                                <center>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    
                                        
                                    </div>
                                </center>
                               
                          </div>
                     </form>
                     
                  </div>
                  
              </div>
          </div>
           <!-- table-responsive -->
         <!-- card-footer -->
          </div><!-- card -->
  
          
  
          
        </div><!-- col-8 -->
        <!-- col-4 -->
      </div><!-- row -->
    </div>


  

    
