

   
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
<link rel="stylesheet" href="./js/Bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./js/DataTables/DataTables-1.10.20/css/dataTables.bootstrap.min.css">
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
<script>
$('#myDropDown').prepend($('<option></option>').html('Loading...'));
</script>
<script>



  var firebaseConfig = {
    apiKey: "AIzaSyAVBtWsFEvEZVT4A7rcTV2nRtfj13I5BI0",
    authDomain: "ecommerce-3b4a8.firebaseapp.com",
    databaseURL: "https://ecommerce-3b4a8.firebaseio.com",
    projectId: "ecommerce-3b4a8",
    storageBucket: "ecommerce-3b4a8.appspot.com",
    messagingSenderId: "359580994105",
    appId: "1:359580994105:web:cd475d76e870b4169f1be8",
    measurementId: "G-PC5T29FZVN"
  };

  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  const db = firebase.firestore(firebase)
  var HTML = '';
  

db.collection("Receipt")
    .onSnapshot(function (doc) {
      doc.docChanges().forEach((change) => {





      })
      db.collection('Receipt').get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            var element = doc.data()
           if(element.status=="Đã giao"){
            HTML += `
            <tr role="row" >
              <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">
             
                `+ element.receiptID + `
                
                <select id="myDropDown" class="selectpicker btn btn-success"><option value=`+ element.status + `>`+ element.status + `</option></select>



                </td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.totalPro + `</td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.totalPrice+ `</td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.date + `</td>
   
    <td style="width:200px;text-align: center;padding-top: 33px">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-warning" type="reset">Chi Tiết</button>
      <a href="./editfeedback/?id=`+ element._id_feedback + `"><button class="btn btn-success" type="reset">Sửa</button></a>
      <a href="./deletefeedback/?id=`+ element._id_feedback + `"><button onclick=" return confirm('Bấm vào là xóa đó nha????')" type="button"
          class="btn btn-danger">Xóa</button></a>

    </td>
    <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog" style="width: 700px;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="margin-right: 154px;">Chi Tiết Hóa Đơn</h4>
        </div>
        <div class="modal-body">
          <center>
            <div>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Chi Tiết Sản Phẩm:</p>
              <p>`+ element.orders + `</p>

              <p>Mã Hóa Đơn:`+ element.totalPrice + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
             
              </div>
              </center>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    </tr>
      `;
           }else if(element.status=="Hủy"){
            HTML += `
            <tr role="row" >
              <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">
             
                `+ element.receiptID + `
                
                <select id="myDropDown" class="selectpicker btn btn-danger"><option value=`+ element.status + `>`+ element.status + `</option></select>



                </td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.totalPro + `</td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.totalPrice+ `</td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.date + `</td>
   
    <td style="width:200px;text-align: center;padding-top: 33px">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-warning" type="reset">Chi Tiết</button>
      <a href="./editfeedback/?id=`+ element._id_feedback + `"><button class="btn btn-success" type="reset">Sửa</button></a>
      <a href="./deletefeedback/?id=`+ element._id_feedback + `"><button onclick=" return confirm('Bấm vào là xóa đó nha????')" type="button"
          class="btn btn-danger">Xóa</button></a>

    </td>
    <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog" style="width: 700px;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="margin-right: 154px;">Chi Tiết Hóa Đơn</h4>
        </div>
        <div class="modal-body">
          <center>
            <div>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Chi Tiết Sản Phẩm:</p>
              <p>`+ element.orders + `</p>

              <p>Mã Hóa Đơn:`+ element.totalPrice + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
             
              </div>
              </center>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    </tr>
      `;
           }else if(element.status=="Đang giao"){
            HTML += `
            <tr role="row" >
              <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">
             
                `+ element.receiptID + `
                
                <select id="myDropDown" class="selectpicker btn btn-warning"><option value=`+ element.status + `>`+ element.status + `</option></select>



                </td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.totalPro + `</td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.totalPrice+ `</td>
    <td style="width: 130px;text-align: center;padding-top: 33px;color: black;">`+ element.date + `</td>
   
    <td style="width:200px;text-align: center;padding-top: 33px">
        <button data-toggle="modal" data-target="#myModal" class="btn btn-warning" type="reset">Chi Tiết</button>
      <a href="./editfeedback/?id=`+ element._id_feedback + `"><button class="btn btn-success" type="reset">Sửa</button></a>
      <a href="./deletefeedback/?id=`+ element._id_feedback + `"><button onclick=" return confirm('Bấm vào là xóa đó nha????')" type="button"
          class="btn btn-danger">Xóa</button></a>

    </td>
    <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog" style="width: 700px;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="margin-right: 154px;">Chi Tiết Hóa Đơn</h4>
        </div>
        <div class="modal-body">
          <center>
            <div>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Chi Tiết Sản Phẩm:</p>
              <p>`+ element.orders + `</p>

              <p>Mã Hóa Đơn:`+ element.totalPrice + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
              <p>Mã Hóa Đơn:`+ element.receiptID + `</p>
             
              </div>
              </center>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
    </tr>
      `;
           }
           
          });

          var showHTML = document.getElementById("text");
          showHTML.innerHTML = HTML;

        })
      HTML = ''

    });


</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>

<link rel="stylesheet" href="./js/Bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./js/DataTables/DataTables-1.10.20/css/dataTables.bootstrap.min.css">
    
<div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                    <center><h2 style="color:
                        #606445;font-family: 'PT Serif', serif;font-weight: 900;margin-left:91px;margin-top: 14px;">DANH SÁCH HÓA ĐƠN</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="form-group">
                    <select name="state" id="maxRows" class="form-control" style="width: 300px;    
                    margin-top: 20px;">
                        <option value="5000">Hiển Thị Tất Cả</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select>
                </div>
      <table class="table table-srtriped table-bordered table-hover" id="mytable">
        <thead>
                <tr role="row" style="background-color: lightslategrey; color: lightyellow;">
                  <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width:150px ;text-align: center;">MÃ HÓA ĐƠN/TRẠNG THÁI</th>
                     
                         
                          <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 130px;text-align: center">SỐ LƯỢNG SẢN PHẨM</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 150px;text-align: center">TỔNG TIỀN</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 150px;text-align: center">NGÀY NHẬN HÓA ĐƠN</th>
                          <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 130px;text-align: center">Chi tiết/Sửa/Xóa</th>
               </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody id='text'>



        </tbody>
    </table>
    <nav aria-label="Page navigation" >
      <ul class="pagination" style="margin-left: 1061px;">
         
      </ul>
  </nav>
  <div style="margin-bottom: 69px;
  margin-top: 69px;">
    <center>
      <a href="./addfeedback"><button class="btn btn-primary" type="reset">Thêm Mới</button></a>
    </center>

  </div>
    </div>
    <script>
   $(document).ready(function(){
    $("#maxRows").on('change', function(){

        var table='#mytable'
     
          $('.pagination').html('')
          var trnum=0
          var maxRows=parseInt($(this).val())
          var totalRows=$(table+' tbody tr').length
          $(table+' tr:gt(0)').each(function(){
              trnum++
              if(trnum > maxRows){  
                  $(this).hide()
              }
              if(trnum <= maxRows){
                  $(this).show()
              }
          })
          if(totalRows > maxRows){
              var pagenum=Math.ceil(totalRows/maxRows)
              for(var i=1;i<=pagenum;){
                $('.pagination').append('<li style="border:solid 3px cornflowerblue;width:45px;height:30px;text-align:center;background-color: #E7E7E3;cursor: pointer;" class="page-item" data-page = "' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
              }
              
          }
          $('.pagination li:first-child').addClass('active')
          $('.pagination li').on('click',function(){
              var pageNum=$(this).attr('data-page')
              var trIndex=0;
              $('.pagination li').removeClass('active')
     
              $(table+' tr:gt(0)').each(function(){
                  trIndex++
                  if(trIndex>(maxRows*pageNum)||trIndex<=((maxRows*pageNum)-maxRows)){
                      $(this).hide()
                  }else{
                      $(this).show()
                  }
              })
          })
      })
   
   })
 
  
    </script>
   
    <script src="./js/jquery.js"></script>
    <script src="./js/Bootsrap/js/bootstrap.min.js"></script>
    <script src="./js/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="./js/DataTables/DataTables-1.10.20/js/dataTables.bootstrap.min.js"></script>
   
   
    

