<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
    <title>test chart</title>
</head>

<body>
    <div class="container">
        <canvas id="mychart" width="600" height="250" style=" margin-top: 84px;">

        </canvas>

    </div>
    <div class="container">

        <canvas id="mychart1">

        </canvas>
    </div>

    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyAVBtWsFEvEZVT4A7rcTV2nRtfj13I5BI0",
            authDomain: "ecommerce-3b4a8.firebaseapp.com",
            databaseURL: "https://ecommerce-3b4a8.firebaseio.com",
            projectId: "ecommerce-3b4a8",
            storageBucket: "ecommerce-3b4a8.appspot.com",
            messagingSenderId: "359580994105",
            appId: "1:359580994105:web:cd475d76e870b4169f1be8",
            measurementId: "G-PC5T29FZVN"
        };

        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        const db = firebase.firestore(firebase)

        db.collection("Product")
            .onSnapshot(function (doc) {
                let list = [];
                let price = []
                let name = []
                db.collection("Product").get().then(snapshot => {
                    snapshot.forEach(doc => {
                        list.push(doc.data())

                    })
                    list.forEach((arr) => {
                        price.push(arr.price)
                        name.push(arr.name)

                    })

                    let mychart1 = document.getElementById('mychart').getContext('2d')
                    var html = `
                    Thống Kê Doanh Thu
                         `
                    let barchart = new Chart(mychart1, {
                        type: 'bar',
                        data: {
                            labels: name,
                            datasets: [{
                                barPercentage: 0.5,
                                barThickness: 6,
                                maxBarThickness: 8,
                                minBarLength: 2,
                                label: html,
                                data: price,
                                pointBackgroundColor: 'rgba(255,99,132,0.6)',


                                backgroundColor: [
                                    'rgba(255,99,132,0.6)',
                                    'rgba(45,162,235,0.6)',
                                    'rgba(20,206,86,0.6)',
                                    'rgba(255,99,86,0.6)'
                                ],
                                borderWidth: 4,
                                borderColor: '#777',
                                hoverBorderWidth: 3,
                                hoverBorderColor: '#000'
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        // Include a dollar sign in the ticks
                                        callback: function (value, index, values) {
                                            return value + " (VND)";
                                        }
                                    }
                                }]
                            }
                        }
                    })

                })










            })



    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>