<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>test chart</title>
</head>
<body>
    <div class="container">
        <canvas id="mychart">

        </canvas>
        <script>
            let mychart=document.getElementById('mychart').getContext('2d')
            let barchart= new Chart(mychart,{
                type:'bar',
                data:{
                    labels:['tháng 11','tháng 12','tháng 13','tháng 14'],
                    datasets:[{
                        label:'Thống Kê Doanh Thu',
                        data:[
                            500,
                            400,
                            300,
                            212,
                        ],
                        backgroundColor:[
                            'rgba(255,99,132,0.6)',
                            'rgba(45,162,235,0.6)',
                            'rgba(20,206,86,0.6)',
                            'rgba(255,99,86,0.6)'
                        ],
                        borderWidth:4,
                        borderColor:'#777',
                        hoverBorderWidth:3,
                        hoverBorderColor:'#000'
                    }]
                },
                option:{}
            }) 
        </script>
    </div>
</body>
</html>