<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="./addtest" method="post">
        <input type="text" placeholder="lasst name" name="lastname">
        <input type="text" placeholder="first name" name="firstname">
        <input type="submit" value="DKa">
    </form>
</body>
</html>